{% extends "racing_calendar/base.html" %}
{% load static %}

{% block context %}
<div id="app">
<!-- The current time and the next event that will occur -->
<div class='text-center m-4 p-3'>
<h3 style="font-weight:400;">Next</h3>
<b><h1 style="font-weight:700;">[[ time ]]</h1>
<h3 style="font-weight:600;">[[ nextEvent ]]</h3></b>
</div>
<!-- Calendar of the next few days of events -->
<div id="calendar" class="row align-items-center">
  <div class='text-center col m-4 p-3' v-for="(x, i) in numDays">
    <table class="table table-responsive">
      <thead>
        <th colspan="2"><h3 style="font-weight:600;">[[ days[i][0].date.split("(")[0] ]]</h3></th>
      </thead>
      <tr v-for="(event, y) in days[i]" class="w-auto">
        <td>
          <div v-if="y==0" style="font-size:150%;">
          [[ days[i][y].time ]]
        </div>
        <div v-else>
            [[ days[i][y].time ]]
        </div>
        </td>
        <td>
          <div v-if="y==0" style="font-size:150%;">
          [[ days[i][y].name ]]
        </div>
        <div v-else>
          [[ days[i][y].name ]]
        </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
{% endblock %}
{% block footer %}
<!-- The date and time are diplayed on the footer of every page -->
<div class="container">
<div class="row">
<div id="date"class="col-auto me-auto"></div>
<div id="time" class="col-auto "></div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script>
let myApp = Vue.createApp({
  delimiters: ["[[", "]]"],
  data() {
    return {
      days: [],
      numDays: 0,
      time: 0,
      nextEvent: "",
      count: 0,
    }
  },
  created() { //calls the function every second
    this.UpdateTime();
    this.UpdateEvents();
    setInterval(this.UpdateTime, 1000);
  },
  methods: {
    UpdateTime(){ //Updates the time
      let hours = new Date().getHours();
      if(hours <10){hours="0"+hours}
      let mins = new Date().getMinutes()
      if(mins <10){mins="0"+mins}
      let secs = new Date().getSeconds()
      if(secs <10){secs="0"+secs}
      this.time = hours+":"+mins+":"+secs;
      document.getElementById("time").textContent = this.time;
      if(this.count>4){
        this.UpdateEvents(); //updates the event calendar every 5 seconds
      this.count = 0;
    }
    this.count = this.count + 1;
  },
  async UpdateEvents(){ //Updates events in calendar
    let response = await fetch("{% url 'racing_calendar:Events api' %}"); //This fetches the events from the database
    if (response.ok){
      let data = await response.json();
      this.days = data.days;
      this.numDays = data.numDays;
      this.nextEvent = data.nextEvent;
      document.getElementById("date").textContent = data.date;
    }
    else {
      alert("Failed" + response.status);
    }
  }
  }
})
  myApp.mount('#app');
  </script>
  {% endblock %}
