{% extends "racing_calendar/base.html" %}
{% load static %}

{% block context %}
<div id="app">
<!-- The current time and the next event that will occur -->
<div class='text-center m-4 p-3'>
<h3>Next</h3>
<b><h2>[[ time ]]</h2>
<h3>[[ nextEvent ]]</h3></b>
</div>
<!-- Calendar of the next few days of events -->
<div id="calendar" class="row align-items-center">
  <div class='text-center col m-4 p-3'>
    <table class="table table-responsive">
      <thead>
        <th colspan="2" v-if="day1.length>0">[[ day1[0].date.split("(")[0] ]]</th>
      </thead>
      <tr v-for="(event, i) in day1" class="w-auto">
        <td>[[ event.time ]]</td>
        <td>[[ event.name ]]</td>
      </tr>
    </table>
  </div>
  <div class='text-center col m-4 p-3'>
    <table class="table table-responsive">
      <thead>
        <th colspan="2" v-if="day2.length>0">[[ day2[0].date.split("(")[0]  ]]</th>
      </thead>
      <tr v-for="(event, i) in day2" class="w-auto">
        <td>[[ event.time ]]</td>
        <td>[[ event.name ]]</td>
      </tr>
    </table>
  </div>
  <div class='text-center col m-4 p-3'>
    <table class="table table-responsive">
      <thead>
        <th colspan="2" v-if="day3.length>0">[[ day3[0].date.split("(")[0]  ]]</th>
      </thead>
      <tr v-for="(event, i) in day3" class="w-auto">
        <td>[[ event.time ]]</td>
        <td>[[ event.name ]]</td>
      </tr>
    </table>
  </div>
</div>
</div>
{% endblock %}
{% block footer %}
<!-- The date and time are diplayed on the footer of every page -->
<div class="container">
<div class="row">
<div id="date"class="col-auto me-auto"></div>
<div id="time" class="col-auto "></div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script>
let myApp = Vue.createApp({
  delimiters: ["[[", "]]"],
  data() {
    return {
      day1: [],
      day2: [],
      day3: [],
      time: 0,
      nextEvent: "",
    }
  },
  created() { //calls the function every second
    this.UpdateAll();
    setInterval(this.UpdateAll, 1000);
  },
  methods: {
    async UpdateAll(){
      let hours = new Date().getHours();
      if(hours <10){hours="0"+hours}
      let mins = new Date().getMinutes()
      if(mins <10){mins="0"+mins}
      let secs = new Date().getSeconds()
      if(secs <10){secs="0"+secs}
      this.time = hours+":"+mins+":"+secs; //Updates the time
      document.getElementById("time").textContent = this.time;
      let response = await fetch("{% url 'racing_calendar:Events api' %}"); //This fetches the events from the database
      if (response.ok){
        let data = await response.json();
        this.day1 = data.day1;
        this.day2 = data.day2;
        this.day3 = data.day3;
        this.nextEvent = data.nextEvent;
        document.getElementById("date").textContent = this.day1[0].date.split("(")[1].split(")")[0];
      }
      else {
        alert("Failed" + response.status);
      }
    }
  }
})
  myApp.mount('#app');
  </script>
  {% endblock %}
